.footer {
    
    &__items {
        min-height: 120px;
        background: #514F4D;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &__text {
                width: 100%;
                height: 100%;
                margin-left: 4px;
                border: none;
                background: none;
            }

            &__btn {
                height: 100%;
                width: 50%;
                border: none;
                color: black;
            }
        }

        &__icons {
            display: flex;
            gap: 24px;
        }
    }

    &__row {
        min-height: 324px;
        background: #131313;
        display: flex;
        flex-direction: column;
        gap: 24px;

        &__menu {
            margin: 48px 8px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__items {
                display: flex;
                flex-direction: column;
                gap: 12px;

                &__text {
                    color: white;
                    text-decoration: none;
                }
            }
        }

        &__terms {
            margin: 0px 8px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: white;
        }
    }
}

form {
    margin-left: 12px;
    width: 360px;
    height: 38px;
    box-sizing: border-box;
    border: 1.5px solid #F7EEE3;
    border-radius: 4px;
}